.alarm {
  border: 2px solid gray;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(to left, gray 50%, transparent 0)no-repeat 50% 56%/10px 2px,
    linear-gradient(to left, gray 50%, transparent 0)no-repeat 43% 42%/4px 7px;
  position: relative;
  /* 图片(用线性渐变生成图片)，no-repeat 视口位置（left top） 宽高 */
}

.alarm::after {
  content: '';
  display: block;
  background: gray;
  width: 10px;
  height: 2px;
  transform: rotateZ(316deg);
  position: absolute;
  top: -1px;
  left: -5px;
}

.alarm::before{
  content: '';
  display: block;
  background: gray;
  width: 10px;
  height: 2px;
  transform: rotateZ(44deg);
  position: absolute;
  top: -1px;
  right: -5px;
}