.container{
  display: flex;
  flex-wrap: wrap;
}

.component-container{
  border: 3px solid gray;
  padding: 0 10px 10px 10px;
  border-radius: 4px;;
  margin-left: 5px;
  margin-bottom: 5px;
}

.component-container > p {
  font-size: 12px;
}
*{
  box-sizing: border-box;
}

html,body{
  height: 100vh;
}

.icon-wrapper{
  transform: scale(1.5);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}